#start-btn{

    width: 90px;
    height: 90px;

    border-radius: 50%;
    border: none;

    margin-top: 30px;
    font-size: 25px;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}


.color-choice{
    height:150px;
    width: 150px;
    border-radius: 50%;
    margin:20px;
}

.color-choices{
    width: 500px;
    margin: 30px auto;

    display:grid;
    grid-template-columns: repeat(3,  150px);
    gap:25px;
}

#color-1{
    background-color:red;
}

#color-2{
    background-color:yellow;

}

#color-3{
    background-color:blue;

}
#color-4{
    background-color:green;

}
#color-5{
    background-color:white;
    

}
#color-6{
    background-color:black;

}


.color-choice:hover{
    transform: scale(1.1);
}

#target-color{
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    
    
}
html,body{
    width: 100%;
    height: 100%;
}


body{
    background-color: rgb(193, 232, 206);
  
}


h1{
    font-size: 80px;
    text-align: center;
    font-weight:900;
    bottom: 20px;
}

h2{
    font-size:40px;
    text-align: center;
    font-weight: 600;
    

}


.game-container{
    width: 100%;
    padding: 30px;
    min-height: auto;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;

}


#result{
    font-size: 35px;
    font-weight: 900;

    margin-top: 25px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    color: white;
}

.instructions{
    font-size: 24px;
    font-weight: 600;

    color:rgb(183, 222, 224);
    text-align: center;

    margin: 15px auto 25px;
    letter-spacing: 1px;
    background-color: rgba(255,255,255,0.7);

    padding: 12px 25px;
    border-radius: 15px;

    width: fit-content;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}


